




.img-box {
    position: relative;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgViewer,
#imgViewer2 {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

.sub-footer {
    margin-top: 25px;
    text-align: center;
}

.loader {
    display: none;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#overlayCanvas {
    position: absolute;
    top: 0;
    left: 0;
}


#face-similarity-page .sub-content {
    flex-direction: row;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



#progress-bar {
    height: 20px;
    width: 100%;
}